@import "~bootstrap/scss/bootstrap";

body,
html {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url(/assets/img/philipp-balunovic-438208-unsplash.jpg);
}

.container {
  width: 100%;
  background-color: #333;
  margin: 0px !important;
  max-width: 100%;
}

.note {

  padding: 8px;
  background-color: #fff;
  cursor: crosshair;
  border: 1px solid black;
  border-radius: 3px;
}

.btn {
  background-color: transparent;
  color: #000;
  border: 1px solid black;
}

#notes {
  background-color: #ccc;
  margin: 0;
  padding: 0;
}